body{
background: #11c1ed;
height: 1fr;
width: 1fr ;
background: linear-gradient(45deg, rgba(17, 193, 237, 1) 0%, rgba(39, 123, 196, 1) 30%, rgba(144, 19, 207, 1) 100%);
min-height: 100vh;
background-repeat: no-repeat;
background-attachment: fixed; 
}
img{
    vertical-align: middle;;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 20px;
    align-content: center;
}
.logo1{
    text-align: center;
}
.logo{
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 15px;
    
}
.parent{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: block;
    text-align: center;;
}
.div1{
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    margin-top: 20px;
    width: 400px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: aqua;
    border-radius: 50px;
    box-shadow: inset 0 0 5px #000000;
    transition: background-color 0.5s;
}
.div2{
    font-weight: bold;
    cursor: pointer;
   display: inline-block;
    margin-top: 15px;
    width: 400px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: aqua;
    border-radius: 50px;
    box-shadow: inset 0 0 5px #000000;
    transition: background-color 0.5s;
}.div3{
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
   display: inline-block;
    width: 400px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: aqua;
    border-radius: 50px;
    box-shadow: inset 0 0 5px #000000;
    transition: background-color 0.5s;
}.div4{
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
   display: inline-block;
    width: 400px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: aqua;
    border-radius: 50px;
    box-shadow: inset 0 0 5px #000000;
    transition: background-color 0.5s;
}.div5{
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
   display: inline-block;
    width: 400px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: aqua;
    border-radius: 50px;
    box-shadow: inset 0 0 5px #000000;
    transition: background-color 0.5s;
}.div6{
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
   display: inline-block;
    width: 400px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: aqua;
    border-radius: 50px;
    box-shadow: inset 0 0 5px #000000;
    transition: background-color 0.5s;
}
.div1:hover{
background-color: rgb(144, 55, 226);
color: white;
transition: color 0.5s;
transition: background-color 0.5s;
}
.div2:hover{
background-color: rgb(144, 55, 226);
color: white;
transition: color 0.5s;
transition: background-color 0.5s;
}
.div3:hover{
background-color: rgb(144, 55, 226);
color: white;
transition: color 0.5s;
transition: background-color 0.5s;
}
.div4:hover{
background-color: rgb(144, 55, 226);
color: white;
transition: color 0.5s;
transition: background-color 0.5s;
}
.div5:hover{
background-color: rgb(144, 55, 226);
color: white;
transition: color 0.5s;
transition: background-color 0.5s;
}
.div6:hover{
background-color: rgb(144, 55, 226);
color: white;
transition: color 0.5s;
transition: background-color 0.5s;
}

